@import 'variables';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;

	.tabbar__content {
		&.tabbar--material__content .page__content {
			margin-top: $materialToolbarHeight;
		}
		.page__content {
			margin-top: $toolbarHeight;
		}
	}
}

#content {
	margin-top: 56px;
}

/* Special material changes */
.page--material .login-container {
	height: calc(100% - #{$materialToolbarHeight});
	height: calc(100vh - #{$materialToolbarHeight});
}