@import '../../style/variables';

.terminal {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: calc(100% - #{$toolbarHeight});
	height: calc(100vh - #{$toolbarHeight});

	h1 {
		margin-bottom: 40px;
	}

	.spacer {
		margin: 40px 0;
	}

	ons-input, button, ons-button {
		width: 200px;
		max-width: 100%;
	}
}

.qrReaderCloseBtn {
	display: block;
	width: 250px;
	max-width: 100%;
	margin: 30px auto;
}
