.listItem {
  width: calc(100% + 40px) !important;
  margin-left: -20px !important;
  margin-right: -20px !important;
}

.listItemCenter {
  flex-direction: column !important;
  align-items: flex-start !important;
}
